@use '../constants/mixins' as *;
@use '../constants/spaces' as *;
.home {
  display: grid;
  gap: $md;
  grid-template-columns: repeat(1, 1fr);
  @include rwd(640) {
    gap: $lg;
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}
