@use '../constants/spaces' as *;
.breadcrumb {
  font-family: 'Righteous', serif;
  display: flex;
  font-size: 18px;
  text-transform: lowercase;
  div {
    margin-left: 0.5rem;
    a {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  div:first-of-type {
    margin-left: 0;
  }
}
