@use './breakpoints' as *;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin flex-bw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin shadow($size) {
  box-shadow: 0 #{$size * 1}px #{$size * 1}px hsl(0deg 0% 0% / 0.075),
    0 #{$size * 2}px #{$size * 2}px hsl(0deg 0% 0% / 0.075),
    0 #{$size * 4}px #{$size * 4}px hsl(0deg 0% 0% / 0.075),
    0 #{$size * 8}px #{$size * 4}px hsl(0deg 0% 0% / 0.075),
    0 #{$size * 16}px #{$size * 16}px hsl(0deg 0% 0% / 0.075);
}

@mixin trans-clr {
  transition: color ease-in-out 0.3s;
}
