@use './reset';
@use './constants' as *;
@use './layout';
@use './components';
@use './pages';
html {
  font-family: 'Righteous', sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $gray-900;
  @include trans-clr;
  &:hover {
    color: $gray-700;
  }
}
button {
  font-family: 'Righteous', sans-serif;
}
